<p id="notice"><%= notice %></p>

<h2>You are Currently Standing At...</h2>

<p>
	<!-- Please note that my location 
	willl be defined in the model as the 
	combination of address and city -->
  <strong>Address:</strong>
  <%= @location.my_location %>
</p>

<h2>The closest Buses Are..</h2>
<% if @bus_count == 0 %>
	<p>
		Look at giving Uber a call.
	</p>
<% else %>
	<% @nearby_buses.each_with_index do |bus, index| %>
		<p>
			<strong>Route</strong>: <%= bus["ROUTE"] %><br />
			<strong>Vehicle #</strong>: <%= bus["VEHICLE"] %><br />
			<strong>Next Stop:</strong>: <%= bus["TIMEPOINT"] %><br />
		</p>

<script> 
	$(document).ready(function(){

		function initialize() {

			var myLatLng = new google.maps.LatLng(<%= @location.latitude %>, <%= @location.longitude %>);
			var busLatlng = new google.maps.LatLng(<%= bus["LATITUDE"] %>, <%= bus["LONGITUDE"] %>);

			var mapOptions = {
				center: myLatLng, 
				zoom: 13,
			};

			var map = new google.maps.Map(document.getElementById('map-canvas<%= index %>'), mapOptions);

			var contentString = "<img src='http://www.motorbussociety.org/conventn/01spr/MARTA%203163.jpg' style='width:50px;height:50px;'/>";

			var infowindow = new google.maps.InfoWindow({
				content: contentString
			});

			var marker = new google.maps.Marker({
				position: busLatlng, 
				map: map, 
				animation: google.maps.Animation.DROP,
				title: "Nearby Bus!",
				animation: google.maps.Animation.BOUNCE
			});

			var contentString = "<h3>It's a bus!</h3>";

			var infoWindow = new google.maps.InfoWindow({
				content: contentString
			});

			google.maps.event.addListener(marker, 'click', function() {
				infowindow.open(map,marker);
			});
	}
	google.maps.event.addDomListener(window, 'load', initialize); 
});
</script> 
	<div id="map-canvas<%= index %>" class="bus-map"></div>
	<% end %> 
<% end %>

<p>
  <strong>City:</strong>
  <%= @location.city %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @location.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @location.longitude %>
</p>

<%= link_to 'My Location is...', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
